# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

#archivo de configuracion credenciales
settings.py

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3        
db.sqlite3       
media/            
staticfiles/      

# Virtual environment
venv/
env/
.venv/
.env/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python environment variables
*.env
*.venv
.envrc

 
*/migrations/*.py
!*/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage

# Pytest cache
.pytest_cache/

# Django
*.log
local_settings.py
.env